body {
    margin-left: 20%;
    margin-right: 20%;
}
.header {             
    margin-left: 2%;
    margin-right: 2%;
    border-bottom: 2px solid black;
}
#button {
    width: 200px;
    position: relative;
    float: right;
    bottom: 50px;   
}
select {
    width: 50%;  
}
.wrapper {
    margin: 2%;
    width: 17%;
}
input:invalid {
    border: 1px solid red;
} 
.temp {
    margin: 2%;
    width: 17%;
}
