body {
    margin: 2%;
}
select {
    margin: 2%;
}
button {
    margin: 2%;
    float: right;
}
.header {             
    margin-left: 2%;
    margin-right: 2%;
    border-bottom: 2px solid black;
}
.container {
    width: 22.2%;
    height: 12em;            
    margin: 1.2%;
    float: left;
    border: 1.5px solid black;
}
.checkbox {
    position: relative;
    left: 5px;
    top: 5px;
}
.products {
    width: auto;   
    margin: 2%;      
}
.record { 
    margin: 2%; 
    width: 80%;  
    border: 0;
    pointer-events: none;
    text-align: center;   
}
.header_box {
    width: 13%;
    position: relative;
    float: right;
    bottom: 2.5em;
    right: 2%;
}
